:root {
    /* 
    https://www.pastelcolorpalettes.com/pastel-purple-pink-blue
    with a slight change to soften the contrast
    */
    --first: #C8B3E1;
    --second: #e9d8ff;
    --third: #F6EDDA;
    --fourth: #CBE6EE;
    --fifth: #F6D0DE;
    --shadow-color: #c1c1c1;
    --gradient-first: linear-gradient(135deg,
    color-mix(in srgb,var(--first), #fff 20%), /* we mix with white for brighter */
    color-mix(in srgb,var(--first), #999 20%));  /* we mix with black for darker */
    --gradient-second: linear-gradient(135deg,
    color-mix(in srgb,var(--second), #fff 20%), /* we mix with white for brighter */
    color-mix(in srgb,var(--second), #999 20%));  /* we mix with black for darker */
    --gradient-third: linear-gradient(135deg,
    color-mix(in srgb,var(--third), #fff 20%), /* we mix with white for brighter */
    color-mix(in srgb,var(--third), #999 20%));  /* we mix with black for darker */
    --gradient-fourth: linear-gradient(135deg,
    color-mix(in srgb,var(--fourth), #fff 20%), /* we mix with white for brighter */
    color-mix(in srgb,var(--fourth), #999 20%));  /* we mix with black for darker */
    --gradient-fifth: linear-gradient(135deg,
    color-mix(in srgb,var(--fifth), #fff 20%), /* we mix with white for brighter */
    color-mix(in srgb,var(--fifth), #999 20%));  /* we mix with black for darker */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 28px;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#calculator {
    height: 500px;
    width: 300px;
    background: var(--gradient-second);
    background-color: var(--second);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 5px var(--shadow-color);
    border-radius: 8px;
}

#display {
    width: 90%;
    height: 20%;
    margin-bottom: 5%;
    box-shadow: inset 0px 0px 8px 4px var(--first);
    border-radius: 8px;
    font-size: 40px;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-content: end;
    padding: 12px;
}

#calcKeys {
    width: 90%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.calcKey {
    width: 20%;
    height: 15%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient-third);
    background-color: var(--third);
    user-select: none;
    box-shadow: 4px 4px 5px var(--shadow-color);
    border-radius: 8px;
}

.calcKeyNum {
    background: var(--gradient-third);
    background-color: var(--third);
}

.calcKeyOperator {
    background: var(--gradient-fourth);
    background-color: var(--fourth);
}

.calcKeyExtra {
    background: var(--gradient-fifth);
    background-color: var(--fifth);
}

.calcKey:active {
    box-shadow: inset 4px 4px 5px var(--shadow-color);
}